* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', 'Poppins', sans-serif;
}

html,
body,
#root,
.App {
  height: 100%;
  width: 100%;
  background-color: var(--white);
  position: fixed;
  color: #333;
  -webkit-font-smoothing: antialiased !important;
  scroll-behavior: smooth;


}

